body,
html,
#app,
#app > div {
  margin: 0;
}

.main-aside-collapsed {
  /* 在CSS中，通过对某一样式声明! important ，可以更改默认的CSS样式优先级规则，使该条样式属性声明具有最高优先级 */
  width: 64px !important;
  min-height: calc(100vh - 160px) !important;
  margin: 0px;
  border: 1px;
  background-color: #334157;
  overflow: hidden !important;
  border: none;
}

.main-aside {
  width: 240px !important;
  margin: 0px;
  background-color: #334157;
  min-height: calc(100vh - 60px) !important;
  border: none;
}
.main-container {
  overflow: hidden !important;
  min-height: calc(100vh - 60px) !important;
  margin: 0px;
  padding: 0px;
  width: 100%;
  background-color: rgb(240, 242, 245);
  box-sizing: border-box;
}
.full_screen_class {
  padding: 0 !important;
  height: 100vh !important;
  max-height: none !important;
}
.table_tr {
  color: #909399;
  padding: 12px 0;
  text-align: left;
  width: 100%;
  font-size: 14px;
  text-indent: initial;
  border-bottom: 1px solid #dcdfe6;
  margin-left: 10px;
}
.table_td {
  font-size: 14px;
  color: #606266;
  padding: 12px 0;
  text-align: left;
  width: 100%;
  border-bottom: 1px solid #dcdfe6;
  margin-left: 10px;
}
.component_card {
  font-size: 14px;
  color: #606266;
  border: 1px solid #ebeef5;
  margin: 30px;

  .header {
    /* border: 1px solid #ebeef5; */
    line-height: 40px;
    border-bottom: 1px solid #ebeef5;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #fafafa;
  }
}
.dashboard-container {
  padding: 0px 15px 0px 15px;
  background-color: rgb(240, 242, 245);
  position: relative;
}
.dashbord-card {
  padding: 20px;
  margin-top: 5px;
}

.panel-group {
  margin-top: 18px;
  width: 100%;
  .card-panel-col {
    margin-bottom: 32px;
  }
  .card-panel {
    margin: 5px;
    float: left;
    width: calc(calc(100% / 5) - 10px) !important;
    height: 108px;
    font-size: 12px;
    position: relative;
    overflow: hidden;
    color: #666;
    background: #fff;
    box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.05);
    border-color: rgba(0, 0, 0, 0.05);

    .card-panel-icon-wrapper {
      float: left;
      margin: 14px 0 0 14px;
      padding: 16px;
      transition: all 0.38s ease-out;
      border-radius: 6px;
      color: #36a3f7;
      cursor: pointer;
    }
    .card-panel-icon-wrapper:hover {
      background-color: #36a3f7;
      color: white;
    }

    .card-panel-icon {
      float: left;
      font-size: 48px !important;
    }

    .card-panel-description {
      float: right;
      font-weight: bold;
      margin: 26px;
      margin-left: 0px;

      .card-panel-text {
        line-height: 18px;
        color: rgba(0, 0, 0, 0.45);
        font-size: 16px;
        margin-bottom: 12px;
      }

      .card-panel-num {
        font-size: 20px;
      }
    }
  }
}
